*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.box{
    transform: translateY(30vh);
}
h1{
    margin:auto;
    font-size: 1.8rem;
    text-align: center;
}

span{
    display: block;
    padding: 0rem 0.2rem;
}
#code{
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}
.btn{
    display: block;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 0.2rem;
    border:none;
    cursor: pointer;
    background-color:lightcyan;
    color:black;
    font-weight: bold;
    margin-right: 1rem;
    border: 0.01px solid transparent;
}
.btn:hover{
    background:linear-gradient(90deg,white 100% , grey 0%);
    color:black;
    border: 0.1px solid black;
}
.buttons{
    display: flex;
    justify-content:center;
    align-items: center;
}

/* media queries */

@media screen and (max-width:480px) {
    .box{
        padding:1rem 1rem;
    }
    h1{
        font-size: 1rem;
    }
    .btn{
        display: block;
        margin-top: 1rem;
        padding: 0.2rem 1rem;
        margin-right: 0.5rem;
    }
}
